Repository carlocorradini/typescript-transformer-esm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

.lintstagedrc:

{
  "**/*.ts": ["eslint --fix", "prettier --write"],
  "*.md": ["markdownlint --fix", "prettier --write"]
}

docs: fix jsonc
  README.md
Due: prettier --write, markdownlint --fix

docs: ci badge
  README.md
Due: prettier --write, markdownlint --fix

refactor: renamed to typescript-transformer-esm
  .github/workflows/ci.yml
  README.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint --fix, prettier --write, markdownlint --fix

docs: better documentation
  CONTRIBUTING.md
  README.md
  package.json
Due: prettier --write, markdownlint --fix

fix: instantiate module mapping only once
  src/index.ts
Due: eslint --fix, prettier --write

docs: added changelog
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

chore(ci): removed useless ci jobs
  .github/workflows/ci.yml
Due: none

chore(ci): fix ci typo
  .github/workflows/ci.yml
Due: none

feat: typescript 5 and esm support
  package-lock.json
  package.json
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
Due: none

chore(ci): removed node 14
  .github/workflows/ci.yml
Due: none

chore: update version package.json
  package.json
Due: none
